section {
    position: relative;
    width: 80%;
    height: auto;
    transform: translateX(-50%);
    left: 50%;
    margin: 4% 0;
}

.title {
    position: relative;
    color: rgb(1, 133, 195);
    font-size: 62px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 75px;
}

.comp-list {
    position: relative;
    width: 50%;
    margin-right: 24px;
}

.comp {
    position: relative;
    margin-top: 30px;
    line-height: 2em;
    font-size: 20px;
}

.progress-bar {
    height: 7px;
    width: 100%;
    background-color: rgb(168, 168, 168);
    border-radius: 30px;
}

.line {
    height: 7px;
    background-color: rgb(0, 174, 255);
    border-radius: 30px;
}

.__1 {
    width: 10%;
}

.__2 {
    width: 20%;
}

.__3 {
    width: 30%;
}

.__4 {
    width: 40%;
}

.__5 {
    width: 50%;
}

.__6 {
    width: 60%;
}

.__7 {
    width: 70%;
}

.__8 {
    width: 80%;
}

.__9 {
    width: 90%;
}

.__10 {
    width: 100%;
}

.cv img {
    border: 2px solid rgb(0, 0, 0);
    float: right;
    transition: all 0.2s;
    cursor: pointer;
}

.cv img:hover {
    border: 2px solid rgb(0, 174, 255);
    cursor: pointer;
}

.cv a {
    display: block;
    width: 100%;
    height: 100%;
}