<section>
    <div class="cv">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7052261942383501312/" target="_blank">
            <img src="img/cv.png" width="600px">
        </a>
    </div>
    <div class="comp">
        <a>Linux</a>
        <div class="progress-bar">
            <div class="line __7"></div>
        </div>
    </div>
    <div class="comp">
        <a>Windows</a>
        <div class="progress-bar">
            <div class="line __8"></div>
        </div>
    </div>
    <div class="comp">
        <a>Langage C</a>
        <div class="progress-bar">
            <div class="line __7"></div>
        </div>
    </div>
    <div class="comp">
        <a>C++</a>
        <div class="progress-bar">
            <div class="line __8"></div>
        </div>
    </div>
    <div class="comp">
        <a>Programmation système UNIX</a>
        <div class="progress-bar">
            <div class="line __6"></div>
        </div>
    </div>
    <div class="comp">
        <a>Programmation graphique</a>
        <div class="progress-bar">
            <div class="line __7"></div>
        </div>
    </div>
    <div class="comp">
        <a>HTML</a>
        <div class="progress-bar">
            <div class="line __9"></div>
        </div>
    </div>
    <div class="comp">
        <a>CSS</a>
        <div class="progress-bar">
            <div class="line __8"></div>
        </div>
    </div>
    <div class="comp">
        <a>PHP Symfony</a>
        <div class="progress-bar">
            <div class="line __5"></div>
        </div>
    </div>
    <div class="comp">
        <a>JavaScript</a>
        <div class="progress-bar">
            <div class="line __6"></div>
        </div>
    </div>
    <div class="comp">
        <a>NodeJS</a>
        <div class="progress-bar">
            <div class="line __6"></div>
        </div>
    </div>
    <div class="comp">
        <a>Unity</a>
        <div class="progress-bar">
            <div class="line __4"></div>
        </div>
    </div>
</section>
</body>

</html>