<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Portfolio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:200,300,500&amp;display=swap" rel="stylesheet"
        type="text/css">
    <script src="https://kit.fontawesome.com/a2bdece850.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="h-container">
            <a class="logo" href="index.php">
                <h1>Mon Book 89</h1>
            </a>
            <nav class="nav-bar">
                <ul>
                    <li><a href="index.php">Accueil</a></li>
                    <li><a href="indexProfil.php">Qui suis-je ?</a></li>
                    <li><a href="indexCompetences.php">Compétences & CV</a></li>
                    <li><a href="indexProjet.php">Projets</a></li>
                </ul>
            </nav>
        </div>
    </header>