<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Portfolio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:200,300,500&amp;display=swap" rel="stylesheet"
        type="text/css">
</head>

<body>
    <header>
        <div class="profil"></div>
        <nav class="nav-bar">
            <ul>
                <li><a href="index.php">Accueil</a></li>
                <li><a href="profil.html">Profil</a></li>
                <li><a href="competences.html">Compétences & CV</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
            </ul>
        </nav>
        <a href="index.html">
            <img class="pp" src="img/profil_picture.jpeg" width="100px">
        </a>
        <a href="https://www.linkedin.com/in/victor-vandeputte/" target="_blank">
            <img class="linkedin" src="img/linkedin.png" width="75px">
        </a>
    </header>