<section>
    <div class="info">
        <label>BONJOUR,</label>
        <h1>Je m'appelle <a href="https://www.linkedin.com/in/victor-vandeputte/" target="_blank">Victor Vandeputte <i
                    class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </h1>
        <p>ÉTUDIANT EN BACHELOR PROGRAMMATION INFORMATIQUE</p>
        <a class="button-profile" href="indexProfil.php">En savoir plus</a>
    </div>
    <img class="background" src="img/background.png" data-speed="2">
</section>
</body>

</html>