</body>
<section>
    <a class="title" href="https://www.linkedin.com/in/victor-vandeputte/details/projects/" target="_blank">Mon
        portfolio <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    <ul class="projet-list">
        <li>
            <div class="projet">
                <a>
                    <h2>Async reader</h2>
                </a>
                <img src="img/2023_async_reader.png">
                <p>Lit en boucle sur les fenêtre de manière asynchrone</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Loup Garou</h2>
                </a>
                <img src="img/wolf.png">
                <img src="img/wolf2.png">
                <p>Créer un jeu en réseau avec la lib SFML en utilisant la logique de jeu, les interfaces, les
                    sockets...</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Morpion</h2>
                </a>
                <img src="img/morpion.png">
                <p>Toujours avec la lib SFML. Un serveur est lancé et reste en attente indéfinie de joueurs. Ces
                    derniers
                    peuvent se connecter pour
                    jouer au morpion avec d'autres joueurs. Le serveur gère la logique du jeu et fonctionne de manière
                    asynchrone</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Démineur en JS</h2>
                </a>
                <img src="img/demineur.png">
                <p>C'est un démineur en JavaScript...On peut gérer la longeur, la largeur et le nombre de bombes qu'on
                    veut ajouter</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>WikAnime</h2>
                </a>
                <img src="img/wikanime.png">
                <img src="img/wikanime2.png">
                <p>On utilise une API pour créer un site répertoriant tous les animés, films, et OVA, offrant de
                    nombreuses fonctionnalités de tri</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>BSH</h2>
                </a>
                <img src="">
                <p>Projet de début d'année</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Portfolio</h2>
                </a>
                <img src="img/portfolio.png">
                <p>Sur lequel vous êtes actuellement</p>
            </div>
        </li>
    </ul>
</section>

</html>