<a class="title" href="https://www.linkedin.com/in/victor-vandeputte/details/projects/" target="_blank">Portfolio <img
        src="https://s.w.org/images/core/emoji/14.0.0/svg/1f517.svg" width="50px"></a>

</body>
<section>
    <ul>
        <li>
            <div>
                <a>Runner</a>
                <img src="img/runner.png" width="500px" height="500px">
                <img src="img/map.png" width="500px" height="500px">
                <img src="img/menu.png" width="500px" height="500px">
                <p>A l'aide d'une mini-map, le projet runner permet de créer une perspective 3D dans une carte 2D
                    (raycasting)</p>
            </div>
        </li>
        <li>
            <div>
                <a>Rev</a>
                <img src="img/rev.png" width="500px" height="500px">
                <p>Permet d'inverser des mots, phrase ou le contenue d'un fichier</p>
            </div>
        </li>
        <li>
            <div>
                <a>RP_sort</a>
                <img src="img/rp_sort.png" width="500px" height="500px">
                <p>Algorithme qui peut triller des chiffres et des nombres</p>
            </div>
        </li>
        <li>
            <div>
                <a>Surface</a>
                <img src="img/surfaceiso.png" width="500px" height="500px">
                <img src="img/surfacepara.png" width="500px" height="500px">
                <p>Trace des lignes représentent la surface d'un terrain avec 2 types de projection (isométrique et
                    parallèle)</p>
            </div>
        </li>
        <li>
            <div>
                <a>Spirale</a>
                <img src="img/tp_circle.png" width="500px" height="500px">
                <p>Place des pixels de manière à former une spirale</p>
            </div>
        </li>
        <li>
            <div>
                <a>Portfolio</a>
                <img src="img/portfolio.png" height="500px">
                <p>Sur lequel vous êtes actuellement</p>
            </div>
        </li>
        <li>
            <div>
                <a>Blue protocol</a>
                <img src="img/blue_protocol.png" height="500px">
                <img src="img/bp_class.png" height="500px">
                <p>Projet de début d'année</p>
            </div>
        </li>
        <li>
            <div>
                <a>Hero corp</a>
                <img src="img/hero_corp.png" width="500px" height="500px">
                <p>Reproduire une page de A à Z</p>
            </div>
        </li>
        <li>
            <div>
                <a>Cameleon</a>
                <img src="img/cameleon.png" width="500px" height="500px">
                <p>Reproduire une page de A à Z</p>
            </div>
        </li>
    </ul>
</section>

</html>