<section>
    <a class="title">A propos de moi</a>
    <div class="container">
        <div class="picture">
            <img src="img/profil_picture.jpg" width="571px" height="491px">
        </div>
        <p>Passionné par la programmation, je suis actuellement en deuxième année de bachelor en programmation informatique à l'école 89. Je suis constamment à la recherche de nouvelles connaissances et compétences pour mener à bien mes projets. Mon objectif est de devenir un développeur expérimenté, capable de proposer des solutions innovantes et créatives pour résoudre des problèmes complexes. Je possède une forte capacité d'analyse, d'adaptation et de résolution de problèmes, ainsi qu'une grande attention aux détails. J'apprécie également le travail en équipe. Motivé par les défis, je suis toujours prêt à en relever de nouveaux pour améliorer mes compétences et mes connaissances en programmation.</p>
    </div>
    <a class="title title-2">Informations</a>
    <div class="container">
        <ul>
            <li><h4>Hobbies / Passions : </h4><a>Jeux Vidéo, Babyfoot, Animes</a></li>
            <li><h4>3 Hashtags prégérés au hasard :</h4><a>#miam #travel #tech</a></li>
            <li><h4>Un site préféré :</h4><a>Twitter et pas X</a></li>
            <li><h4>Mot préféré :</h4><a>segmentation fault</a></li>
            <li><h4>Le métier que tu n’aurais pas voulu faire :</h4><a>Prof d'anglais</a></li>
            <li><h4>Un objet à emporter sur une île déserte :</h4><a>Un téléphone satellite</a></li>
            <li><h4>Signe particulier :</h4><a>Capacité d'adaptation</a></li>
            <li><h4>Ce que vous avez envie de nous partager :</h4><a>Mon Portfolio</a></li>
        </ul>
        <div class="img-list">
            <img src="img/m1.jpg">
            <img src="img/m2.jpg">
            <img src="img/m3.jpg">
            <img src="img/m4.jpg">
        </div>
    </div>
</section>
</body>

</html>