</body>
<section>
    <a class="title" href="https://github.com/TheDrownedZodiac" target="_blank">Mes Projets <i class="fa-brands fa-github"></i></a>
    <ul class="projet-list">
        <li>
            <div class="projet">
                <a>
                    <h2>Async reader - C++ & SFML - 2 semaines</h2>
                </a>
                <img src="img/2023_async_reader.png">
                <p>Lit en boucle sur les fenêtre de manière asynchrone</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Loup Garou - C++ & SFML - 2 mois</h2>
                </a>
                <img src="img/wolf.png">
                <img src="img/wolf2.png">
                <p>Créer un jeu en réseau avec la lib SFML en utilisant la logique de jeu, les interfaces, les
                    sockets...</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Morpion - C++ & SFML - 1 mois</h2>
                </a>
                <img src="img/morpion.png">
                <p>Toujours avec la lib SFML. Un serveur est lancé et reste en attente indéfinie de joueurs. Ces
                    derniers
                    peuvent se connecter pour
                    jouer au morpion avec d'autres joueurs. Le serveur gère la logique du jeu et fonctionne de manière
                    asynchrone</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Démineur en JS - JavaScript - 1 jours</h2>
                </a>
                <img src="img/demineur.png">
                <p>C'est un démineur en JavaScript...On peut gérer la longeur, la largeur et le nombre de bombes qu'on
                    veut ajouter</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>WikAnime - HTML CSS API & Bootstrap - 1 semaine</h2>
                </a>
                <img src="img/wikanime2.png">
                <img src="img/wikanime.png">
                <p>On utilise une API pour créer un site répertoriant tous les animés, films, et OVA, offrant de
                    nombreuses fonctionnalités de tri</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>BSX - HTML CSS JavaScript PHP & Symfony - 5 jours</h2>
                </a>
                <img src="img/BSX.png">
                <img src="img/BSX2.png">
                <p>Workshop - Développer un site avec Symfony qui permet aux professeurs de créer des cours accessibles aux élèves</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Portail 3 - Unity & C# - 2 semaines</h2>
                </a>
                <img src="img/portail.png">
                <img src="img/portail2.png">
                <p>Créer un jeu vidéo avec le moteur Unity, on controle un personnage en 2D qui place des portails de téléportation pour pouvoir passer des obstacles</p>
            </div>
        </li>
        <li>
            <div class="projet">
                <a>
                    <h2>Portfolio - HTML CSS & PHP - 2 jours</h2>
                </a>
                <img src="img/portfolio.png">
                <p>Sur lequel vous êtes actuellement</p>
            </div>
        </li>
    </ul>
</section>

</html>